# Updating data frames

## Data: Palmer penguins

In [1]:
# standard libraries
import pandas as pd
import numpy as np

# import seaborn with its standard abbreviation 
import seaborn as sns

# will use the random library to create some random numbers
import random

In [2]:
# import data from seaborn
penguins = sns.load_dataset('penguins')

# look at dataframe's head
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## Adding a column

General syntax to add a single column is 
```
df['new_column_name'] = new_column_values
```

`new_column_values` could be:

- a `pd.Series` OR `numpy.array` of the same length as the data frame
- a single scalar (a single number, a single string)

**Example**

Want to create a new column where the body mass is in kg instead of grams

In [3]:
# added a new column
# same syntax as adding a new value to a dictionary
penguins['body_mass_kg'] = penguins.body_mass_g/1000

In [4]:
print('body_mass_kg' in penguins.columns)

True

In [5]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,body_mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,3.75
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,3.80
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,3.25
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,3.45

To create a new column and insert it at a particular position we use `insert()`:
```
df.insert(loc = integers_index,
        column = 'new_column_name',
        value = new_col_values) # location of new column
```

Example:

Suppose each penguin gets a unique code as a three digit number. Add this column at the beginning of the data frame:

In [9]:
# create random 3-digit codes
# sample is without replacement
codes = random.sample( range(100,1000), len(penguins) )

penguins.insert(loc = 0, 
               column = 'code',
               value = codes)

In [10]:
penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,body_mass_kg
0,612,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,3.75
1,722,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,3.80
2,469,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,3.25
3,137,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,844,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,3.45

Q: what happens if we reassign with insert?

## Adding multiple columns

We can assign multiple columns in the same call using `assign` method.
Syntax:
```
df.assign( new_col1_name = new_col1_values,
            new_col2_name = new_col2_values)
```
Notice: new column names are not strings, we devlare them as if we were creating variables.

Example:
Add columns:


- flipper length converted from mm to cm, and 
- a code representing the observer

In [21]:
# create codes for observers
observers = random.choices(['A', 'B', 'C'], # sample from this array
                          k = len(penguins)) # get this many items

penguins = penguins.assign( flipper_length_cm = penguins.flipper_length_mm/10,
                          observer = observers)

penguins.head()

AttributeError: 'DataFrame' object has no attribute 'flipper_length_mm'

## Removing columns

We can remove columns using the `drop()` method. 
Syntax:
```
df = df.drop(columns = column_names)
```

where `column_names` can be a single column name (string) or a list of column names.

Example:

We want to drop the flipper length in mm and the body mass in grams

In [20]:
#reassign when using drop
penguins = penguins.drop(columns = ['flipper_length_mm', 'body_mass_g'])

print(penguins.columns)

KeyError: "['flipper_length_mm', 'body_mass_g'] not found in axis"

## Updating values

Sometimes we want to update certain values in our data frame.

### A single value
We can access a single value in a `pd.DataFrame` using the locators:

- `at[]` : to select labels
- `iat[]`: to select by integer index/position

Syntax for `at[]`:
```
df.at[single_index_value, 'column_name']
```

`at[]` equivalent to `loc[]` when accessing a single value

Example:

Want to know the bill length of the penguins in the fourth row.

In [22]:
penguins.at[3, 'bill_length_mm']

nan

We got an NA. Let's update to 38.3 mm. We do this using `at[]` too:

In [25]:
penguins.at[3, 'bill_length_mm'] = 38.3

penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer
0,612,Adelie,Torgersen,39.1,18.7,Male,3.75,18.1,C
1,722,Adelie,Torgersen,39.5,17.4,Female,3.80,18.6,A
2,469,Adelie,Torgersen,40.3,18.0,Female,3.25,19.5,C
3,137,Adelie,Torgersen,38.3,NaN,NaN,NaN,NaN,B
4,844,Adelie,Torgersen,36.7,19.3,Female,3.45,19.3,C

In [27]:
penguins.iat[1,0] = 999
penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer
0,612,Adelie,Torgersen,39.1,18.7,Male,3.75,18.1,C
1,999,Adelie,Torgersen,39.5,17.4,Female,3.80,18.6,A
2,469,Adelie,Torgersen,40.3,18.0,Female,3.25,19.5,C
3,137,Adelie,Torgersen,38.3,NaN,NaN,NaN,NaN,B
4,844,Adelie,Torgersen,36.7,19.3,Female,3.45,19.3,C

In [29]:
# Q: what happens if you reverse the assignment in .at?

a = 10
b = 20

b = a

print(b)

10

### Update multiple values in a column

#### By condition

Think of `case_when` in R.

Example:

We want to classify penguins such that:

- small penguins : body mass < 3 kg
- medium penguins : 3 kg <= body mass < 5 kg
- big penguins : body mass > 5 kg

One way to do this is using `numpy.select()` to create a new column

In [32]:
# create a list with the conditions
conditions = [ penguins.body_mass_kg < 3,
             (3 <= penguins.body_mass_kg) & (penguins.body_mass_kg <5 ),
             5 <= penguins.body_mass_kg]

# create a list with the choices
choices = ['small',
          'medium',
          'big']

# default = value for anything that falls outside conditions
penguins['size'] = np.select(conditions, choices, default = np.nan)

In [33]:
penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer,size
0,612,Adelie,Torgersen,39.1,18.7,Male,3.75,18.1,C,medium
1,999,Adelie,Torgersen,39.5,17.4,Female,3.80,18.6,A,medium
2,469,Adelie,Torgersen,40.3,18.0,Female,3.25,19.5,C,medium
3,137,Adelie,Torgersen,38.3,NaN,NaN,NaN,NaN,B,nan
4,844,Adelie,Torgersen,36.7,19.3,Female,3.45,19.3,C,medium

### Update a column by selecting values

Sometimes we just want to update a few values that satisfy a condition.
We can do this by selecting using `loc` (if selecting by label) and then assigning a new value
```
# modifies data in place
df.loc[row_selection, col_name] = new_values
```
where

- `row_selection` = rows we want to update,
- `col_name` = a single column name, and
- `new_values` = the new value or values we want to update. If using multiple values, make sure they are the same length as the data frame.

Example:

We want to update the "Male" values in the sex column to "M"

In [35]:
penguins.loc[penguins.sex == "Male", 'sex'] = 'M'

In [37]:
penguins.head()

penguins.sex.unique()

array(['M', 'Female', nan], dtype=object)

## `SettingWithCopyWarning`

Suppose we want to update the "Female" value in the sex column to "F". This is an example of something we might try, but won't work:

In [41]:
penguins[penguins.sex =='Female']['sex'] = 'F'

/tmp/ipykernel_8289/1110594010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins[penguins.sex =='Female']['sex'] = 'F'

When we select data with **chained indexing** `[][]` insetad of `loc` we get this warning.
`pandas` is trying to alert us that our code is ambiguous and there might be a bug.

In this case, we did not update the penguins data frame:

In [43]:
penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer,size
0,612,Adelie,Torgersen,39.1,18.7,M,3.75,18.1,C,medium
1,999,Adelie,Torgersen,39.5,17.4,Female,3.80,18.6,A,medium
2,469,Adelie,Torgersen,40.3,18.0,Female,3.25,19.5,C,medium
3,137,Adelie,Torgersen,38.3,NaN,NaN,NaN,NaN,B,nan
4,844,Adelie,Torgersen,36.7,19.3,Female,3.45,19.3,C,medium

## Views and copies

Some `pandas` operations return a view to your data, while others return a copy to your data.

- **Views** are actual subsets of the original data, when we update them, we are modifying the original data frame.
- **Copies** are unique objects, independent of our original data frame. When we update a copy we are not modifying our original data frame.

Depending on what we are trying to do, we might want to modify a copy or a view.

### Another `SettingWithCopyWarning`

Another common situation when this warning comes up is when we try updating a subset of our data grame already stored in a variable.

Example:

We only want data from Biscoe Island and, after doing some analysis, we want to add a new column to it:

In [44]:
biscoe = penguins[penguins.island == 'Biscoe']

# 50 lines of code

biscoe['sample_column'] = 100

/tmp/ipykernel_8289/1706700282.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biscoe['sample_column'] = 100

Essentially what we did was
```
penguins[penguins.island == 'Biscoe'][sample_column] = 100
```

To fix this we can **take control of the copy-view situation and explicitly ask for a copy of the dataset when subsetting the data.** Use the `copy()` method for this

In [48]:
biscoe = penguins[penguins.island == 'Biscoe'].copy()

biscoe['sample_col'] = 100